/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Outfit&family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color principal de las letras en el Navbar */
.navbar-nav .nav-link {
  color: #000000 !important; /* Cambia este código hexadecimal por el color que prefieras */
}

  background-image: linear-gradient(to left, rgb(236, 217, 177), rgb(236, 217, 177));
}
